.signup-form-container {
  color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 15px 0;
  }
}

.signup-form {
  width: 295px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .main-label {
    margin: 12px 0;
    pointer-events:none;
  }

  &--error {
    color: $error-color;
    margin-top: 18px;
    font-size: 100%;
    text-align: center;
  }

  &__roles-container {
    display: flex;
    flex-direction: column;
  }

  &__role {
    margin-bottom: 2px;
  }

  &__button {
    margin-top: 40px;
  }
}
