$primary-color: hsl(0, 0%, 33%);
$primary-color--light: rgba(218, 218, 218, 0.73);
$secondary-color:white;
$error-color: red;
$sw-light-blue: rgb(100, 208, 208);
$sw-light-blue--darken: rgb(72, 176, 176);
$sw-light-blue--transparent: rgba(76, 208, 208, 0.18);
$font-color: black;
